:root {
    --main-color: #4D92EC;
    --font-color: #3E2F45;
    --dark-color: rgb(9, 51, 51);
    --highlight-color: #0623E1;
}

body {
    position: absolute;
    color: var(--font-color);
}

header {
    width: 100%;
    background-color: var(--main-color);
    padding: 40px;
    font-size: 36px;
}

header h1 {
    display:inline-block;
}

.banner {
    height: 650px;
    width: 100%;
    margin-bottom: 100px;
    background-image: url("../images/banner_placerholder.png");
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    background-color: #5514E1;
}

nav a {
    color: white;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    text-align: center;
    border-left: 5px solid var(--dark-color);
    background: linear-gradient(to left, #5514E1 50%, var(--dark-color) 50%) right;
    background-size: 200%;
    transition: .1s linear;
}

nav a:hover {
    background-position: left;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

main .title h2 {
    font-size: 48px;
}

main .grid1 {
    margin-bottom: 50px;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-gap: 10px;
}

.info {
    font-size: 26px;
    border-left: 10px solid rgb(0, 63, 158);
    padding-left: 15px;
    padding-top: 15px;
}

.info p {
    margin-bottom: 50px;
    word-wrap: break-word;
}

.info .title h2 {
    position: absolute;
    margin-left: 50%;
}

.info section img {
    border: 10px solid var(--main-color);
}

.topWork {
    display: flex;
    position: relative;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 400px;
}

section .container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.projName h2{
    position: absolute;
    width: fit-content;
    height: fit-content;
    bottom: 8%;
    left: 22%;
    z-index: 1;
    background-color: var(--main-color);
    color: white;
}

.grid2 {
    flex: 3;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.otherWork {
    position: relative;
    display: flex;
    flex: 0 0 400px;
    width: auto;
    max-width: 100%;
}

.grid1 .info .links {
    text-align: center;
}

.grid1 .info a {
    display: inline-block;
    text-align: center;
    margin-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color)
}

.grid1 .info a:hover {
    color: var(--dark-color);
    border-right: 3px solid var(--highlight-color);
    border-bottom: 3px solid var(--highlight-color);
}

@media screen and (max-width: 768px) {
    main, nav {
        flex-direction: column;
    }

    main .title h2 {
        font-size: 16px;
    }

    .info {
        font-size: 12px;
        border-width: 5px;
        padding-left: 5px;
    }

    .info img {
        max-width: 75%;
    }

    .info .projName h2 {
        font-size: 8px;
    }
}
